@model HRWebApp.Controllers.ApplyViewModel
@{
    ViewData["Title"] = "Apply";
}

<h2>Apply for @Model.Jo.JobTitle at @Model.Company</h2>

@using (Html.BeginForm("Apply", "JobOffer", new { id = Model.Jo.Id }, FormMethod.Post, null, new { id = "edit-form" }))
{
    @Html.AntiForgeryToken()

    @Html.LabelFor(m => m.FirstName)
    @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control", required = "true" } })
    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
    <br />

    @Html.LabelFor(m => m.LastName)
    @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control", required = "true" } })
    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
    <br />


    @Html.LabelFor(m => m.PhoneNumber)
    @Html.EditorFor(m => m.PhoneNumber, new { htmlAttributes = new { @class = "form-control", required = "true" } })
    @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
    <br />


    @Html.LabelFor(m => m.EmailAddress)
    @Html.EditorFor(m => m.EmailAddress, new { htmlAttributes = new { @class = "form-control", required = "true" } })
    @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })
    <br />


    @Html.LabelFor(m => m.ContactAgreement)
    @Html.EditorFor(m => m.ContactAgreement, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.ContactAgreement, "", new { @class = "text-danger" })
    <br />


    @Html.LabelFor(m => m.CvUrl)
    @Html.EditorFor(m => m.CvUrl, new { htmlAttributes = new { @class = "form-control", required = "true" } })
    @Html.ValidationMessageFor(m => m.CvUrl, "", new { @class = "text-danger" })
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
    @Html.ActionLink("Go back", "Details", "JobOffer", new { id = Model.Jo.Id }, new { @class = "btn btn-primary" })

}

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
<script>

    jQuery.validator.setDefaults({
        success: "valid"
    });

    $("#edit-form").validate({
        rules: {
            EmailAddress: {
                email: true
            },
            PhoneNumber: {
                digits: true
            }
        },
        messages: {
            FirstName: {
                required: "Please enter your first name"
            },
            LastName: {
                required: "Please enter your last name"
            },
            EmailAddress: {
                required: "Please enter your email address",
                email: "Please enter valid email address",
            },
            PhoneNumber: {
                required: "Please enter your",
                digits: "Please enter a valid phone number"
            },
            CvUrl: {
                required: "CV Url is required"
            }
        },
    });

</script>